.advantages__text {
  max-width: 205px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .font-settings(@dark-blue, 24px, @light);
}

.advantages__list {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 157px;
    height: 320px;
    //background-image: url("/img/iphone-screen-mobile@1x.png");
  }
}

.advantages__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.advantages__title {
  .font-settings(@black, 18px, @bold);
}

.advantages__description {
  .font-settings(@dark-blue, 14px, @regular);
}
