@import "../variables";
.button-oval{
  text-decoration: none;
  line-height: 18px;
  text-align: center;
  &--index{
    color: @white;
    border: solid 3px @white;
  }
  &--post{
    color: @pink;
    border: solid 3px @pink;
  }
  &--cancel{
    color: @dark-blue;
    opacity: 0.1;
    border: solid 3px @dark-blue;
  }
}
