@import "../variables";

.button-oval {
  text-decoration: none;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;

  &--index {
    color: @white;
    border-color: @white;
  }

  &--post {
    color: @pink;
    border-color: @pink;
  }

  &--cancel {
    color: @dark-blue;
    opacity: 0.1;
    border-color: @dark-blue;
  }
}
