.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media (max-width: @mobile-and-tablet-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--open {
    display: block;
  }

  .main-nav--open .page-header__container {
    background-color: @dark-blue;
    border-bottom: 1px solid @black;
  }
}
