.page-main {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 66px;
  top: -66px;
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 660px;
    padding-top: 110px;
    top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}
