@import "../variables";

.page-header {
  width: 320px;
  margin: 0 auto;
  background-color: fade(@dark-blue, 70%);
  color: @white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 660px;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
